/* Overall comment styling */
.parent-comment {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px 0px;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 10px;
}

.left-comment-header {
    display: flex;
    align-items: center;
}

.comment-profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.commenter {
    margin: 0;
}

.comment-date {
    color: gray;
    font-size: 0.9rem;
}

.right-header {
    position: relative;
    padding-right: 10px;
}

.comment-dropdown-button {
    font-size: 16px;
    height: 30px;
    width: 30px;
    background: none;
    border: none;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-dropdown-button:hover {
    background-color: #ddd;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 150px;
    z-index: 10;
}

.dropdown-menu button {
    width: 100%;
    text-align: left;
    padding: 10px;
    background: none;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.dropdown-menu button:last-child {
    border-bottom: none;
}

.comment-body {
    margin-top: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.comment-photo img {
    width: 100%;
    max-height: 600px;
    height: auto;
    display: block;
    object-fit: cover;
}

.child-comment {
    margin-left: 40px;
    border: none;
    box-shadow: none;
}