:root{
    --blue: #1877F2;
}

.profile-page {
    width: 100vw;
    margin: 0 auto;
    background-color: #f0f2f5;
}

.header-background {
    background-color: white;
    width: 100%;
}

.cover-photo-container {
    position: relative;
    width: 70%;
    margin: auto;
    height: 250px;
    cursor: pointer;
    z-index: 0;
}

.cover-photo {
    width: 100%;
    height: 275px;
    object-fit: cover;
}

.profile-picture-container {
    position: relative;
    bottom: 70px;
    left: 50px;
    z-index: 1;
}

.profile-picture {
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 150px;
    align-items: center;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
}

.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    position: relative;
    width: 70%;
    margin: auto;
}

.profile-info {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 60px;
}

.left-profile-header {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user-name {
    font-size: 1.5em;
    text-align: center;
}

.right-profile-header {
    margin-top: 10px;
}

.edit-profile-button,
.add-friend-button {
    padding: 8px 12px;
    background-color: #1877F2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.edit-profile-button:hover,
.add-friend-button:hover {
    background-color: #165dbb;
}

.user-bio {
    margin: 0;
    padding: 20px 0;
    width: 40%;
    text-align: justify;
}

.profile-body {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 70%;
    margin: auto;
}

.user-posts {
    width: 58%;
    padding: 20px;
}

input[type="file"] {
    display: none;
}

.dropdown-label {
    border: 1px solid #ccc;
    width: 180px;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 0 5px #ccc;
    text-align: center;
}

.profile-dropdown-menu {
    position: absolute;
    top: 170px;
    right: -27px;
}

.cover-photo-dropdown-menu {
    position: absolute;
    top: 270px;
    right: 400px;
    z-index: 10;
}

.profile-mutual-friends {
    padding: 5px 0;
}
