.profile-button {
    cursor: pointer;
    position: relative;
}

.profile-button-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    color: black
}

.profile-button-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-dropdown {
    position: absolute;
    top: 55px;
    right: 0;
    list-style-type: none;
    padding: 7px;
    background-color: #ffffff;
    border-radius: 8px;
    width: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        text-decoration: none;
            color: black;
}

.profile-dropdown li {
    padding: 8px 12px;
    font-size: 14px;
}

.profile-dropdown li:hover {
    background-color: #f5f6f7;
}

.profile-dropdown button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1877f2;
    color: #fff;
    cursor: pointer;
}

.profile-dropdown button:hover {
    background-color: #165db6;
}

.profile-dropdown a {
    text-decoration: none;
    color: black;
}